.dev {
    padding-top: 178px;
}

.dev__buttons {
    // padding: 12px 30px;
    border: 1px solid #000;
    width: 145px;
    height: 40px;
}

// .dev__button1 {
//     position: absolute;
//     // margin-top: -10px;
//     transform:  translate(-10px);
// }